/*

Device tree overlay for KURT's 2 rotary encoders.

Sources:
http://www.mjoldfield.com/atelier/2017/03/rpi-devicetree.html
https://github.com/kenrestivo/linux/blob/b74f2674fd49a1d58baf5dbe5f0fbe052b65f873/arch/arm/boot/dts/overlays/rotaries-overlay.dts

*/

/dts-v1/;
//plugin/;

/ {
    /*
    First-gen Pis (A, B, B+, Zero, Compute): BCM2835 chip, BCM2708 family
    Pi 2: BCM2836 chip, BCM2709 family
    Pi 3: BCM2837 chip, BCM2709 family
    This overlay *should* work with all of them. I don't know if specifying
    just the chip or family is enough, so just LIST ALL OF THEM.
    */
    compatible = "brcm,bcm2835", "brcm,bcm2708",
                 "brcm,bcm2836", "brcm,bcm2709",
                 "brcm,bcm2837";
}
