<?xml version="1.0"?>
<launch>
    <!-- Kp: oscillation starts at roughly 0.0025 (forwards only) -->
    <arg name="Kp" default="0.00125" />
    <arg name="Ki" default="0.0" />
    <arg name="Kd" default="0.0001" />
    <arg name="windup_limit" default="1" />

    <param name="robot_description" command="$(find xacro)/xacro '$(find kurtberry_pi)/urdf/kurt_indoor.urdf.xacro'" />
    <node name="kurtberry_pi_node" pkg="kurtberry_pi" type="kurtberry_pi_node" output="screen" args="--debug">
        <!-- Controller parameters are mandatory -->
        <param name="Kp" value="$(arg Kp)" />
        <param name="Ki" value="$(arg Ki)" />
        <param name="Kd" value="$(arg Kd)" />
        <param name="windup_limit" value="$(arg windup_limit)" />

        <param name="dryrun" value="false" />

        <!-- TODO: Document all params -->
    </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

    <rosparam>
        joint_state_controller:
            type: joint_state_controller/JointStateController
            publish_rate: 50
        diffdrive:
            type: diff_drive_controller/DiffDriveController
            left_wheel: 'left_middle_wheel_joint'
            right_wheel: 'right_middle_wheel_joint'
            pose_covariance_diagonal: [0.001, 0.001, 1000000.0, 1000000.0, 1000000.0, 1000.0]
            twist_covariance_diagonal: [0.001, 0.001, 1000000.0, 1000000.0, 1000000.0, 1000.0]

            wheel_separation: 0.28
            wheel_radius: 0.06
            linear:
                x:
                    has_acceleration_limits: true
                    max_acceleration: 0.8
                    has_jerk_limits: true
                    max_jerk: 5.0
    </rosparam>

    <node name="default_controller_spawner" pkg="controller_manager" type="spawner" output="screen"
      args="joint_state_controller diffdrive" />

    <!-- Redirect /cmd_vel to /diffdrive/cmd_vel. The controller spawner can't remap for us. -->
    <node name="cmd_vel_relay" pkg="topic_tools" type="relay" args="/cmd_vel /diffdrive/cmd_vel" />
    <!-- Same from /diffdrive/odom to /odom. -->
    <node name="odom_relay" pkg="topic_tools" type="relay" args="/diffdrive/odom /odom" />
</launch>
